name: build rpm on release

on:
  push:
  #release:
    #types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: build rpm 
      id: rpm
      run: |
          cd ./packaging/rpm
          docker build -t pamoauth2device-rpm-build .
          docker run --rm -u 1001:121 -v ${{github.workspace}}:/data pamoauth2device-rpm-build sh -c 'mkdir -p /data/RPMS && cp -r rpmbuild/RPMS /data'

          #docker run --rm -u 1001:121 -v ${{github.workspace}}:/data pamoauth2device-rpm-build ls rpmbuild
        
