name: build rpm on release

on:
  push:
  #release:
    #types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: build rpm 
      id: rpm
      run: |
          cd ./packaging/rpm
           docker build -t pamoauth2device-rpm-build .
           docker run --rm -v ${{ github.workspace }}:/data pamoauth2device-rpm-build cp -r ./rpmbuild/* /data
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: PAM oauth2 RPMs
        path: /data
