name: build rpm on release

on:
  push:
  #release:
    #types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build docker images
      run: docker build -t local < .packaging/rpm/Dockerfile
    
    - name: Run tests
      run: docker run -it --rm -v ${PWD}:/data cp -r rpmbuild/RPMS /data
  